langchain>=1.0.0
langchain-classic
langchain-text-splitters
langchain-openai
langchain-community
langchain-experimental
langchain-chroma
chromadb
openai
pandas
numpy
matplotlib
streamlit
python-dotenv
pypdf
python-docx
docx2txt
openpyxl
pillow
jupyter
tabulate
pytest
